# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# Composer
/vendor/
composer.lock
.phpunit.result.cache

# IDE & System Files
.idea/
.vscode/
.DS_Store
Thumbs.db